---

- name: Install sshguard
  community.general.pkgng:
    name: sshguard
    state: present

- name: Configure sshguard
  ansible.builtin.template:
    src: sshguard.conf
    dest: /usr/local/etc/sshguard.conf
    mode: "0644"
  notify: Restart sshguard

- name: Enable sshguard
  community.general.sysrc:
    name: sshguard_enable
    value: "YES"

- name: Configure
  ansible.builtin.template:
    src: pf.conf
    dest: /etc/pf.conf
    mode: "0644"
    validate: /sbin/pfctl -nf %s
  notify: Restart pf

- name: Enable service
  community.general.sysrc:
    name: pf_enable
    value: "YES"

- name: Start service
  ansible.builtin.service:
    name: pf
    state: started
