---
- name: Disable sendmail
  community.general.sysrc:
    name: sendmail_enable
    value: NONE

- name: Configure OS to use dma
  ansible.builtin.template:
    src: mailer.conf
    dest: /etc/mail/mailer.conf
    mode: "0644"

- name: Configure dma.conf
  ansible.builtin.template:
    src: dma.conf
    dest: /etc/dma/dma.conf
    owner: root
    group: wheel
    mode: "0644"

- name: Configure auth.conf
  ansible.builtin.template:
    src: auth.conf
    dest: /etc/dma/auth.conf
    owner: root
    group: mail
    mode: "0640"

- name: Create alias for root
  ansible.builtin.lineinfile:
    path: /etc/mail/aliases
    line: "root: {{ dma_target_email }}"
  notify:
    - Run newaliases
