---
- name: Install
  community.general.pkgng:
    name: dnsmasq
    state: present

- name: Create configuration
  ansible.builtin.template:
    src: dnsmasq.conf
    dest: /usr/local/etc/dnsmasq.conf
    mode: "0644"
    validate: /usr/local/sbin/dnsmasq --test --conf-file=%s
  notify: Restart dnsmasq

- name: Enable service
  community.general.sysrc:
    name: dnsmasq_enable
    value: "YES"
